.motor-card {
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  animation: pulse 2s infinite;
  background-color: #f8f9fa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.motor-card:hover {
  cursor: pointer;
  border-radius: 10px;
  /* background-color: orange; */
  border-width: 0px;
  animation: zoomIn 0.5s ease-in-out;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  box-shadow: outset 0 0 10px rgba(139, 138, 138, 0.7);
  /* color: white; */
}

.motor-card.active {
  border-width: 0px ;
  box-shadow: 0 0 10px rgba(85, 85, 85, 0.5);
  background-color: orange;
  color : white;
}
.swiper-wrapper {
    display: flex;
    padding: 20px ;
    margin-bottom: 10px;
}

.swiper-pagination{
    margin-top: 30px
}

/* Samakan tinggi Select2 dengan Bootstrap */
.select2-container--default .select2-selection--single {
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
    color: #6e707e;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    right: 6px;
}




